py-dmidecode; sys_platform == 'linux'
distro; sys_platform == 'linux'
sounddevice; sys_platform == 'linux'
dbus-python; sys_platform == 'linux'
pywin32; platform_system == 'Windows'
plyer; sys_platform == 'linux'
plyer; platform_system == 'Windows'
mss; sys_platform == 'linux' or platform_system == 'Windows'
wmi; platform_system == 'Windows'
pyyaml
hass_client
requests
python-dateutil
paho-mqtt
py-cpuinfo
psutil
pybluez
bleak
ipaddress