[Unit]
Description=Home-agent Endpoint Service
After=network.target

[Service]
Type=simple
User=homeagent
SyslogIdentifier=homeagent
Restart=always
TimeoutStartSec=10
RestartSec=10
ProtectHome=false
WorkingDirectory=/opt/home-agent
EnvironmentFile=/opt/home-agent/.env
Environment="PATH=/opt/home-agent/env/bin:$PATH"
ExecStart=python3 /opt/home-agent/run.py -s -c /opt/home-agent/config.yaml



[Install]
WantedBy=multi-user.target